<%- include('../partials/header') %>
<article id="list">
    <table id="table-show">
        <thead>
            <tr>
                <th>Drink</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody >
            <% drinks.forEach(function(d){ %>
                <tr>
                    <td><img src="/images/<%= d.img %>.png" id="profile"></td>
                    <td style="text-align: center;"><%= d.title %></td>
                    <td><a href="/drinks/<%= d._id %>" id="details-btn">Details</a></td>
                </tr>
                <% }) %>
            </tbody>
            <img src="https://i.imgur.com/SU4D8d1.png" id="happy-cup">
        </table>
        

</article>
<%- include('../partials/footer') %>